/* ------------------------------
　　フォーム
------------------------------ */
.c-form {
	display: flex;
	flex-direction: column;

	&.is-inline {
		display: inline-flex;
	}
}


.c-form__label {
	display: inline-block;
	margin: 0 0 ($gutter/2) 0;
	@include font-size(16);
	font-weight: bold;
}

.c-form__control {
	margin: 0 0 $gutter * 2 0;
}


@media screen and (min-width: $breakpoint-md-min){
	.c-form__label {
		margin: 0 0 $gutter 0;
	}
	.c-form__control {
		margin: 0 0 $gutter * 3 0;
	}
}

textarea.c-form__control {
	padding: $gutter;
	color: map-get($color-neutral,darkest);
	@include font-size(16);
	border: $border-width-thick solid map-get($color-neutral,light);
	border-radius: $border-radius-md;
}

input[type="color"].c-form__control {
	border: $border-width-thick solid map-get($color-neutral,light);
	border-radius: $border-radius-md;
	background: map-get($color-neutral, lightest);
}


.c-form__emoji {
	display: flex;
}

.c-form__emoji {
	align-items: center;
	@include font-size(48);
	line-height: 1;
}

.c-form__emoji-btn {
	margin: 0 $gutter;
	padding: $gutter;
	background: map-get($color-neutral, lightest);
	border: $border-width-thick solid map-get($color-neutral,light);
	border-radius: $border-radius-md;
}
