.c-img-ogp {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 300px;
	height: 150px;
	font-size: 20px;
	text-align: center;
	background: #EEE;

	&__title {
		margin: 0;
		font-size: 1em;
		font-weight: bold;
		line-height: 1.3;
	}
	&__area {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(100% - 3.5em);
		height: calc(100% - 2em);
		background: #FFF;
		box-shadow: rgba(0,0,0,0.2) 0 2px 15px;
		border-radius: 1em;
		z-index: 1;
	}

	&__bg-wrap {
		position: absolute;
		right: 0;
		bottom: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	&__bg {
		position: absolute;
		top: -.8em;
		left: -1.25em;
		width: 400px;
		height: 250px;
	}

	&__icon {
		display: inline-block;
		margin: 0 .5em;
		font-size: 1.25em;

			transform: rotate(40deg);

		&:nth-child(2n+1) {
			transform: rotate(-40deg);
		}

		&:nth-child(3n+1) {
			transform: rotate(135deg);
		}

		&:nth-child(4n+1) {
			transform: rotate(-135deg);
		}

	}
}

@media screen and (min-width: $breakpoint-md-min){
	.c-img-ogp {
		font-size: 40px;
		width: 600px;
		height: 315px;

		&__bg {
			width: 700px;
			height: 415px;
		}
	}
}
