/* ------------------------------
　　コンテンツ
------------------------------ */
.p-content {
	display:grid;
	grid-template-rows: 1fr 1fr;
	row-gap: $gutter * 2;
	margin: 0 auto;
	padding: $gutter * 2;
	box-sizing: border-box;
}

.p-content__preview {
	//margin: 0 0 $gutter * 2 0;
}

//@media screen and (min-width: $breakpoint-sm-min){
//	.p-content {
//		max-width: 300px;
//	}
//}


@media screen and (min-width: $breakpoint-md-min){
	.p-content {
		max-width: 600px;
//		display:grid;
//		grid-template-rows: 1fr;
//		grid-template-columns: 600px 1fr;
//		column-gap: $gutter * 3;
//		padding: $gutter * 3;
	}

	.p-content__control {
		order: 2;
	}

	.p-content__preview {
		order: 1;
	}
}
