/* ------------------------------
　　コントロール
------------------------------ */
.p-control {
	display: grid;
	column-gap: $gutter * 2;
}

.p-control__text {

}

.p-control__side {
	display: grid;
	column-gap: $gutter * 2;
	grid-template-columns: 1fr 1fr;
	margin: 0 0 $gutter * 2 0;
}

.p-control__side-emoji {

}


@media screen and (min-width: $breakpoint-md-min){
	.p-control__side {
		display: flex;
		flex-direction: row
	}
}
